<!doctype html>
<html lang="en">
  {% block css %}{% endblock %}
  {% include "blocks/head.njk" %}
  <body>
    {% include "blocks/googletagmanager-noscript.njk" %}
    {% if nav %}
      {% include "blocks/nav.njk" %}
    {% endif %}
    {{ content | safe }}
    {% block content %}{% endblock %}
    {% if newsletter != false %}
      {% include "blocks/newsletter.njk" %}
    {% endif %}
    {% include "blocks/footer.njk" %}
    <script src="/_assets/js/main.js?v={{ data.buildRef }}"></script>
    {% block scripts %}{% endblock %}
    {% if aos != false %}
      <script>AOS.init();</script>
    {% endif %}
  </body>
</html>
