---
layout: layouts/base.njk
---

<header
  class="td-header">
  {# https://gist.github.com/cecilemuller/3165474 #}
  <video class="td-header__media" autoplay muted playsinline loop="loop" poster="/_assets/img/tampa-devs-v2.webp">
    <source type="video/webm" src="/_assets/misc/TD_output_720_30p.webm">
      <source type="video/mp4" src="/_assets/misc/TD_output_720_30p.mp4"></video>
      <div class="td-header__container">
        <div class="td-header__container__logoGroup">
          <img src="/_assets/misc/logos/tampa-devs.svg" alt="Tampa Devs" class="td-header__logo"/>
          <hgroup>
            <h1>{{ basics.name }}</h1>
            <h2>{{ basics.tag }}</h2>
          </hgroup>
        </div>
        <div class="td-header__ctas">
          <a class="js-moveto" href="#meetup"><img src="/_assets/misc/icons/meetup.svg" alt="Meetup"/>Events</a>
          <a class="js-moveto" href="#slack"><img src="/_assets/misc/icons/slack.svg" alt="Slack"/>Join Chat</a>
          <a class="js-moveto" href="#newsletter">Newsletter</a>
        </div>
      </div>
    </header>
    <main class="container promo-container td-describer">
      <p>Tampa Devs is the
        <strong>fastest-growing nonprofit software development community</strong>
        in Tampa Bay.</p>
      <p>We host monthly technical workshops from industry-leading companies and accelerate access to high-quality training and career opportunities in Tampa’s software industry. For free, and for everyone.</p>
    </main>
    <section class="container promo-container">
      {{ layoutContent | safe }}
    </section> 
  <section class="container sponsor-container mb--0">
    <h3>Sponsors</h3>
    <div class="sponsor-list sponsor-list__gold">
      {% for sponsor in sponsors | sort(false, false, 'name') %}
        {% if sponsor.type == "gold" %}
          <a href="{{ sponsor.href }}" class="sponsor-item" target="_blank" rel="”noopener" noreferrer”>
            <img src="/_assets/misc/sponsors/{{ sponsor.logo }}" alt=""/>
          </a>
        {% endif %}
      {% endfor %}
    </div>
      {# Silver Sponsor #}
    <div class="sponsor-list sponsor-list__silver">
      {% for sponsor in sponsors | sort(false, false, 'name') %}
        {% if sponsor.type == "silver" %}
          <a href="{{ sponsor.href }}" class="sponsor-item" target="_blank" rel="”noopener" noreferrer”>
            <img src="/_assets/misc/sponsors/{{ sponsor.logo }}" alt=""/>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="container sponsor-container donor-container">
  <div class="donor-block">
    <h3>Contributing Members</h3>
  </div>
  <div class="donor-block">
    <script src="https://opencollective.com/tampadevs/banner.js"></script>
  </div>
  <div class="donor-block">
    <div class="cta-sponsor-and-donate">
      {# <a class="sponsor-button td-alert-banner" id="post-job-cta" href="https://jobs.tampa.dev/drafts/new?utm_source=td_homepage&utm_medium=organic&utm_campaign=tdjobs_external_embed">Post a Job</a> #}
      <a class="sponsor-button td-alert-banner" href="mailto:sponsor@tampadevs.com">Sponsor</a>
      <a class="sponsor-button td-alert-banner" href="https://go.tampa.dev/donate">Donate</a>
    </div>
  </div>
</section>
