---
nav: true;
layout: layouts/base.njk
---
<div class="container td-blog ">

  <header role="banner" class="td-blog__header">
    {% if youtube_id %}
      <div class="video-embed">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/{{youtube_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}

    <h1 itemprop="name">{{ title | orphanWrap | safe }}</h1>
    <date>{{ date | readableDate }}</date>
  </header>

  <main class="td-blog__body">
    {{ layoutContent | safe }}
  </main>

  {% if author %}

    {% for person in people | sort(false, false, 'name') %}

      {% if author == person.name %}
        <div class="td-blog__author">
          <img src="/_assets/img/people/{{ person.img if person.img else "no-avatar.jpg" }}" alt="{{ person.name }}" class="td-blog__author__img">
          <p>{% if person.href %}<a href="{{ person.href.url }}" target="_blank" rel="noopener">{% endif %}{{ person.name }}{% if person.href %}</a>{% endif %}</p>
          <p>{{ person.bio }}</p>
        </div>
      {% endif %} 

    {% endfor %}
  {% endif %}

  <a class="td-blog__back" href="/talks">Back to all talks</a>

  {% if canonical %}
  <small class="thought-canonical">This post originally appeared at:<br /><a href="{{ canonical }}">{{ canonical }}</a></small>
  {% endif %}

</div>
