@use "../variables";
@use "../utilities";
.textcol {

  @include utilities.bpMinXSmall() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 25px 0;

    &__col {
      padding: 25px 0;

      &__lead-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;

        a{ border: none; }
      }

      &:first-child{
        border-right: 1px solid variables.$colorGreen;
        padding-right: 25px;
      }

      &:last-child {
        border-left: 1px solid variables.$colorGreen;
        padding-left: 25px;
      }

      &--centered {
        text-align: center;
      }
    }

  }
}
