.peopleList {
  display: block;
  list-style-type: none;
  padding: 0;

  &__person {
    display: flex;
    margin: 5px 0;

    &__img {
      border-radius: 50px;
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }
    
    p {
      margin-top: 0;
      line-height: 1.25rem
    }
  }
}
