@use "../variables";
@use "../utilities"; 

.imagetext {
  width: 100%;

  @include utilities.bpMinXSmall() {
    display: grid;
    grid-template-rows: minmax(350px, 1fr);
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &--orange {
    background-color: variables.$colorOrange;
    color: white;

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        border-bottom-color: variables.$colorBlue;
      }
    }
  }

  &--blue {
    background-color: variables.$colorBlue;
    color: white;

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        border-bottom-color: variables.$colorOrange;
      }
    }
  }

  &__img {
    position: relative;
    align-self: stretch;
    background-position: center center;
    background-size: cover;
    height: 200px;

    @include utilities.bpMinXSmall() {
      height: auto;
    }

    img {
      display: block;
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    + .imagetext__text {
      justify-self: left;
    }
  }

  &__text{
    padding: 20px;

    @include utilities.bpMinXSmall() {
      max-width: 490px;
    }

    p:first-child {
      font-weight: bold;
    }

    justify-self: right;
    width: 100%;

    
  }
}
