@use "../utilities";

.img {
  border-radius: 10px;

  img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  &--pull-left {
    max-width: 50%;
    margin-left: -15%;
    margin-right: 20px;
    float: left;

    @include utilities.bpMinMedium() {
      max-width: 380px;
      margin-left: -190px;
    }
  }

  &--pull-right {
    max-width: 50%;
    margin-right: -15%;
    margin-left: 20px;
    float: right;

    @include utilities.bpMinMedium() {
      max-width: 380px;
      margin-right: -190px;
    }
  }

  &--full-width {
    max-width: 100%;
    
    @include utilities.bpMinMedium() {
      max-width: calc(100% + 100px);
      margin: 0 -50px;
    }
  }
}
