@use "variables";
@use "utilities";

.td-nav {
  background-color: variables.$colorBlue;
  color: white;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  ul {
    padding: 10px;
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  a {
    font-weight: bold;
    margin-right: 13px;
    color: white;
    border: none;
    transition: color 0.2s;

    &:hover {
      color: variables.$colorGreen;
    }
  }

  .hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;

    &:hover {
      color: variables.$colorGreen;
    }
  }

  .show {
    display: flex !important;
    flex-direction: column;
  }

  &__menu {
    width: 100%;
    display: flex;
    a {
      margin-right: 0;
    }
  }

  @media (min-width: 675px) {
    .td-nav__menu {
      width: auto;
      justify-content: space-evenly;

      a {
        margin-right: 25px;
      }
    }

    .container {
      flex-direction: row;
      padding: 0 50px;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .social-icon {
    height: 14px;
  }

  .social-icon:hover {
    opacity: 70%;
    transition: all 0.3s;
  }

}

@media (max-width: 600px) {
  .td-nav .social-icons {
    flex-direction: row;
    justify-content: space-around;
    .social-icon {
      height: 30px;
      opacity: 0.8;
      transition: all 200ms;
      &:hover {
        transition: all 200ms;
        opacity: 1;
      }
    }
  }

  .td-nav {
    .hamburger-menu-wrapper {
      display: flex;
      align-items: right;
      justify-content: end;
    }
    .hamburger-menu {
      display: block;
      font-size: 40px;
    }
    .show {
      align-items: center;
      li {
        font-size: 2rem;
      }
    }
  }

  .td-nav ul {
    display: none;
  }

  body > nav.td-nav > .container {
    display: block;
  }
}

@media (min-width: 600px) {
  .td-nav {
    .hamburger-menu-wrapper {
      display: none;
    }
  }
}

@media (min-width: 600px) and (max-width: 820px) {
  .td-nav .social-icons {
    display: none;
  }
  .td-nav .container {
    justify-content: center;
  }
}
