@use "variables";
@use "utilities";

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
html {
  font-size: 100%;
}


body {
  color: variables.$colorBlue;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1, h2 {
  color: variables.$colorOrange;
}
a {
  color: variables.$colorGreen;
  text-decoration: none;
  border-bottom: 1px solid variables.$colorOrange;
  transition: border 0.5s;
}

p {
  font-size: 1.1rem; // was 1 rem, may change back later
  line-height: 1.725rem;
}
li {
  font-size: 1.1rem;
}

textarea,
select,
input,
button {
  // outline: none;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

a:hover {
  border-bottom-color: variables.$colorGreen;
}

a:focus {
  // outline: none;
}


.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  padding: 0 1.5rem;
  overflow-x: hidden;
}

.td-describer p {
  line-height: 1.5em;
}

.td-describer p:first-child {
  color: variables.$colorOrange;
  font-size: 2rem;
  line-height: 2.725rem;
}

.td-events {
  display: block;
  margin-top: 50px;
}

.td-events section date {
  display: block;
}

.td-events h2 {
  color: variables.$colorGreen;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.td-events h3 {
  font-size: 1.17em;
  margin: 0 0 0;
}

.td-events-list {
  list-style-type: none;
  padding: 0;
}

.td-events-list li {
  margin: 20px 0;
  border-bottom: 1px solid #79d2c8;
}

.td-events-list li:first-child {
  margin-top: 0;
}

.td-events-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.td-events__link {
  display: inline-block;
  margin-bottom: 20px;
}

.td-events__future {
  background-color: variables.$colorGreen;
  border-radius: 8px;
  color: white;
  padding: 20px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h2,
  p,
  a {
    color: white;
  }
}

.td-events__future__btn {
  background: variables.$colorOrange;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0 20px;
  display: inline-block;
  text-transform: uppercase;
}

.td-event__city {
  text-transform: uppercase;
  font-size: 0.825em;
  margin: 0;
  padding: 0;
}

.td-event__city:after {
  content: ":";
}
.td-nav-footer, .footer-source {
  text-align: center;
}
.td-footer {
  color: white;
  background-color: #4e5569;
  padding: 1rem;
  font-size: 0.725rem;
}

.td-footer__social ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  max-width: 1020px;
}

.td-footer__links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
    border: none;
  }
}

.td-footer__social ul {
  margin-left: auto;
  margin-right: auto;
}

.td-footer__social a {
  text-decoration: none;
  border: none;
}

.td-footer__social img {
  height: 24px;
  width: auto;
}

.td-footer__social img:hover {
  opacity: 70%;
}

.td-newsletter {
  background-color: variables.$colorOrange;
  color: white;
  margin: 0;
  padding: 50px 0 100px 0;
  h2 {
    color: #ffffff;
  }
}

.td-newsletter__field {
  display: block;
  position: relative;
  margin: 0 0 1em;
}

.td-newsletter__field label {
  display: block;
  text-indent: -99999px;
  font-size: 0;
}

.td-newsletter__field input::placeholder {
  color: #d4d4d3;
}

.td-newsletter__field input {
  background-color: #cb4e47;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 0.825em;
}

.td-newsletter__field input[type="submit"] {
  background-color: #ffffff;
  color: #566075;
  text-transform: uppercase;
  transition: all 0.4s;
  border: 1px solid variables.$colorOrange;
  cursor: pointer;
}

.td-newsletter__field input[type="submit"]:hover {
  background-color: variables.$colorOrange;
  border-color: white;
  color: white;
}

.td-event-archive__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.td-event-archive__list__item {
  border: 1px solid variables.$colorOrange;
  padding: 1em;
}

.td-event-archive__name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.td-event-archive__detail {
  margin-top: 5px;
}

.filter-red {
  filter: invert(59%) sepia(43%) saturate(6782%) hue-rotate(331deg) brightness(106%) contrast(86%);
}

.next-event__widget {
  &:where(iframe){
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    @include utilities.bpMinSmall {
      height: 210px;
    }
  }
}

@media (min-width: 800px) {
  .td-header {
    padding-bottom: 66.66666vh;
    text-align: center;
  }

  .td-header h1 {
    font-size: 4em;
  }

  .td-header .td-header__logo {
    width: 50%;
    max-width: 220px;
  }

  .td-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .td-events__future {
    margin-bottom: 0;
  }

  .td-footer {
    text-align: center;
  }

  .td-footer__social {
    justify-content: center;
  }

  .td-newsletter__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }

  .td-newsletter__field {
    display: inline-block;
    margin: 0;
  }
}



.divider {
  border-bottom: 2px solid variables.$colorOrange;
  border-top: 0;
}

.divider--green {
  border-color: variables.$colorGreen;
}

.social-icons {
  display: none;
  @media (min-width: 675px) {
    display: block;
    a {
      margin: 0 0 0 20px;
    }
  }
}
