@use "variables";
@use "utilities";

.heading {
  text-transform: uppercase;
  font-size: 34px;
  color: white;
  letter-spacing: 2px;

  &--green {
    color: variables.$colorGreen;
  }

  &--blue {
    color: variables.$colorBlue;
  }

  &--orange {
    color: variables.$colorOrange;
  }

  &--centered {
    text-align: center;
  }
}

.td-blog {
  margin-bottom: 50px !important;
  &__header {
    text-align: center;

    &__img {
      border-radius: 0 0 5px 5px;
      // max-width: 100%;
      width: 100%;
      object-fit: contain;
      max-height: 600px;
      // width: 100%;

      @include utilities.bpMinLarge() {
        max-width: 110%;
        width: 110%;
        margin-left: -5%;
        border-radius: 0 0 5px 5px;
      }

      + h1 {
        background-color: white;
        margin: -20px 0 10px;
        display: inline-block;
        padding: 0 8px;
      }
    }

    date {
      display: block;
    }
  }

  &__body {
    margin: 0 auto;
    max-width: 720px;
  }

  p,
  li {
    color: variables.$colorBlue;
  }

  a {
    color: variables.$colorOrange;
    overflow-wrap: break-word;
  }

  // ToDO: Undo this tech debt
  .btn--orange {
    color: white;
  }

  &__back {
    text-align: center;
    display: table;
    margin: 10px auto;
  }

  blockquote {
    border-left: 4px solid variables.$colorBlue;
    padding-left: 20px;
    margin-left: 1px;
  }

  &__author {
    margin: 2em auto;
    padding: 2em 0;
    border-top: 2px solid variables.$colorOrange;
    border-bottom: 2px solid variables.$colorOrange;
    max-width: 720px;
    text-align: center;

    &__img {
      border-radius: 50px;
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }
  }

  .td-alert-banner {
    margin-bottom: 20px;
  }
}
