$colorOrange: #ee5c53;
$colorGreen: #1aac9c;
$colorBlue: #4e5569;

@import "mixin-mediaqueries.scss";
@import "animations/marquee";

@import "nav";
@import "text";
@import "time-list";
@import "img";
@import "form";

@import "block-listing";
@import "block-people";
@import "block-slider";
@import "block-logobar";
@import "block-imagetext";
@import "block-textcol";
@import "block-evticket";
@import "block-iframe";
@import "block-highlight-box";
@import "block-promo";
@import "tdevs_custom";


@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900");

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

p {
  font-size: 1.1rem; // was 1 rem, may change back later
  line-height: 1.725rem;
}
li {
  font-size: 1.1rem;
}

textarea,
select,
input,
button {
  // outline: none;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

body {
  color: $colorOrange;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: $colorGreen;
  text-decoration: none;
  border-bottom: 1px solid $colorOrange;
  transition: border 0.5s;
}

a:hover {
  border-bottom-color: $colorGreen;
}

a:focus {
  // outline: none;
}

.td-header {
  color: #ffffff;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80vh;
}

.td-header__media {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.td-header__container {
  background-color: rgba(68, 77, 95, 0.5);
  height: 100%;
  position: absolute;
  text-decoration: none;
  transition: all 0.2s;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.td-header .td-header__logo {
  max-width: 145px;
  min-width: 75px;
  margin: 20px 0;
}

.td-header__cityName-svg {
  margin: 20px 0;
  max-width: 400px;
  max-height: 50px;
}

.td-header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.td-header h2 {
  margin: 0 0 20px;
}

.td-header a {
  color: #ffffff;
}

.td-header__ctas {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.td-header__ctas a {
  border: 1px solid $colorOrange;
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 20px;
  font-size: 1.35em;
  transition: background-color 0.4s;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(238, 92, 83, 0.4);
}

.td-header__ctas a:hover {
  background-color: $colorOrange;
}

.td-header__ctas a:last-child {
  border-color: $colorGreen;
  background-color: rgba(26, 172, 156, 0.4);
}

.td-header__ctas a:last-child:hover {
  background-color: $colorGreen;
}

.td-header__meetup-lnk {
  font-size: 1em;
  margin-top: 20px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  padding: 0 50px;
  overflow-x: hidden;
}

.td-describer p {
  line-height: 1.5em;
}

.td-describer p:first-child {
  font-size: 2rem;
  line-height: 2.725rem;
}

.td-events {
  display: block;
  margin-top: 50px;
}

.td-events section date {
  display: block;
}

.td-events h2 {
  color: $colorGreen;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.td-events h3 {
  font-size: 1.17em;
  margin: 0 0 0;
}

.td-events-list {
  list-style-type: none;
  padding: 0;
}

.td-events-list li {
  margin: 20px 0;
  border-bottom: 1px solid #79d2c8;
}

.td-events-list li:first-child {
  margin-top: 0;
}

.td-events-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.td-events__link {
  display: inline-block;
  margin-bottom: 20px;
}

.td-events__future {
  background-color: $colorGreen;
  border-radius: 8px;
  color: white;
  padding: 20px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h2,
  p,
  a {
    color: white;
  }
}

.td-events__future__btn {
  background: $colorOrange;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0 20px;
  display: inline-block;
  text-transform: uppercase;
}

.td-event__city {
  text-transform: uppercase;
  font-size: 0.825em;
  margin: 0;
  padding: 0;
}

.td-event__city:after {
  content: ":";
}
.td-nav-footer, .footer-source {
  text-align: center;
}
.td-footer {
  color: white;
  background-color: #4e5569;
  padding: 1rem;
  font-size: 0.725rem;
}

.td-footer__social ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  max-width: 1020px;
}

.td-footer__links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
    border: none;
  }
}

.td-footer__social ul {
  margin-left: auto;
  margin-right: auto;
}

.td-footer__social a {
  text-decoration: none;
  border: none;
}

.td-footer__social img {
  height: 24px;
  width: auto;
}

.td-newsletter {
  background-color: $colorOrange;
  color: white;
  margin: 0;
  padding: 50px 0 100px 0;
}

.td-newsletter__field {
  display: block;
  position: relative;
  margin: 0 0 1em;
}

.td-newsletter__field label {
  display: block;
  text-indent: -99999px;
  font-size: 0;
}

.td-newsletter__field input::placeholder {
  color: #d4d4d3;
}

.td-newsletter__field input {
  background-color: #cb4e47;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 0.825em;
}

.td-newsletter__field input[type="submit"] {
  background-color: #ffffff;
  color: #566075;
  text-transform: uppercase;
  transition: all 0.4s;
  border: 1px solid $colorOrange;
  cursor: pointer;
}

.td-newsletter__field input[type="submit"]:hover {
  background-color: $colorOrange;
  border-color: white;
  color: white;
}

.td-event-archive__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.td-event-archive__list__item {
  border: 1px solid $colorOrange;
  padding: 1em;
}

.td-event-archive__name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.td-event-archive__detail {
  margin-top: 5px;
}

@media (min-width: 800px) {
  .td-header {
    padding-bottom: 66.66666vh;
    text-align: center;
  }

  .td-header h1 {
    font-size: 4em;
  }

  .td-header .td-header__logo {
    width: 50%;
    max-width: 220px;
  }

  .td-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .td-events__future {
    margin-bottom: 0;
  }

  .td-footer {
    text-align: center;
  }

  .td-footer__social {
    justify-content: center;
  }

  .td-newsletter__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }

  .td-newsletter__field {
    display: inline-block;
    margin: 0;
  }
}

@media (orientation: landscape) {
  .td-header__container__logoGroup {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }

  .td-header__container__logoGroup .td-header__logo {
    margin: 0;
    padding: 0 20px;
  }
  .td-header__container__logoGroup h2 {
    margin: 0;
  }
}

.divider {
  border-bottom: 2px solid $colorOrange;
  border-top: 0;
}

.divider--green {
  border-color: $colorGreen;
}

.social-icons {
  display: none;
  @media (min-width: 675px) {
    display: block;
    a {
      margin: 0 0 0 20px;
    }
  }
}

@import "global/global.scss";
@import "utility/mixin-sizing";
@import "utility/utility";
@import "pages/about";
@include spacings;
@include bpMinXSmall {
  @include spacings(xs\:);
}
@include bpMinSmall {
  @include spacings(sm\:);
}
@include bpMinMedium {
  @include spacings(md\:);
}
@include bpMinLarge {
  @include spacings(lg\:);
}



// TODO: Reevaluate order of CSS in this file
//       and the order of its imports
@import "block-jobs";
