/**
 * These are all styles used for CSS Box-Model.
 * Margin and Padding
 * Uses the $spacer defined in variables, defaulted to 2px
 * This generates a bunch of helper classes for things like removing margins on a <p> element
 * If your class uses more CSS properties besides these, put the padding and margin in that class instead
 * Naming conventions is based on CMS design system. Uses 2px instead of 8
 * 
 * Examples:
 * m--5 is margin 10px across the board
 * m--10 is margin 20px across the board
 * lg-m--5 is margin 10px if viewport size is greater han 1024 px
 * Similar conventions here : https://nerdcave.com/tailwind-cheat-sheet
 *
 * mr = margin-right
 * mb = margin-bottom
 * pt = padding-top
 * m = margin
 * my = margin top and bottom
 * mx = margin left and right
 */

 $spacer: 2px;




@mixin spacings($prefix:null) {
    @for $i from 0 through 40 {
      .#{$prefix}m--#{$i} {
        margin: $i * $spacer !important;
      }
      .#{$prefix}ml--#{$i} {
        margin-left: $i * $spacer !important;
      }
      .#{$prefix}mr--#{$i} {
        margin-right: $i * $spacer !important;
      }
      .#{$prefix}mt--#{$i} {
        margin-top: $i * $spacer !important;
      }
      .#{$prefix}mb--#{$i} {
        margin-bottom: $i * $spacer !important;
      }
      .#{$prefix}mx--#{$i} {
        margin-left: $i * $spacer !important;
        margin-right: $i * $spacer !important;
      }
      .#{$prefix}my--#{$i} {
        margin-top: $i * $spacer !important;
        margin-bottom: $i * $spacer !important;
      }
      .#{$prefix}p--#{$i} {
        padding: $i * $spacer !important;
      }
      .#{$prefix}pl--#{$i} {
        padding-left: $i * $spacer !important;
      }
      .#{$prefix}pr--#{$i} {
        padding-right: $i * $spacer !important;
      }
      .#{$prefix}pt--#{$i} {
        padding-top: $i * $spacer !important;
      }
      .#{$prefix}pb--#{$i} {
        padding-bottom: $i * $spacer !important;
      }
      .#{$prefix}px--#{$i} {
        padding-left: $i * $spacer !important;
        padding-right: $i * $spacer !important;
      }
      .#{$prefix}py--#{$i} {
        padding-top: $i * $spacer !important;
        padding-bottom: $i * $spacer !important;
      }
    }
}
