@use "../variables";

.text-color--black {
  color: black;
}
.text-color--green {
  color: variables.$colorGreen;
}

// BG -color
.bg--orange {
  background-color: variables.$colorOrange;
}
.border--orange {
  border: 1px solid variables.$colorOrange
}


// Margins
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}

.main-content {
  min-height: calc(100vh - 600px);
  ul,
  li,
  p {
    color: black;
  }
}