---
nav: true
title: "About"
aos: false
---

{% extends "layouts/base.njk" %}
{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block content %}
  <header class="td-about-header" aria-labelledby="about-tampa-devs">
    <div class="td-about-header-img-wrapper">
      <picture>
        <source media="(min-width:650px)" srcset="/_assets/img/about/tampa-dev-edited-117.jpg">
        <img src="/_assets/img/about/tampa-dev-edited-117-550.jpg" alt="">
      </picture>
    </div>
    <div class="td-about-header-txt-overlay">
      <h1 id="about-tampa-devs">About Tampa Devs</h1>
      <p>As the leading nonprofit software community in Tampa Bay, we’re proud to support nearly 2,000 members who work together, learn together, and grow together.<br />We're united by a shared mission to break barriers in the tech industry. Each month, we host workshops and create educational and career opportunities for all backgrounds or experience levels. For free, and for everyone.</p>
    </div>
  </header>
  <main class="td-about main-content">
    <section aria-labelledby="our-story" class="td-about-section container">
      <h2 id="our-study">Our Story</h2>
      <div class="xs:ml--20 md:ml--40">
        <p>Tampa Devs started as a small group of friends in the technology industry who met through latin dance. After realizing the broad appeal and clear need for a developer meetup in Tampa, founder Vincent Tang publicly launched the group with its first event in September 2021.</p>
        <p>Since its inception, Tampa Devs has helped its members acquire new skills and find success in the technology industry. Our nonprofit organization strives to create unique opportunities for the local community to learn, grow, and succeed together. Today, with more than 1,000 active members on Meetup.com and an average attendance of over 200 attendees at our hosted events, we are proud to serve as a thriving hub for Tampa Bay's developer community.</p>
        <p>Our organization strives to create unique opportunities for the local community to learn, grow, and succeed together. Whether you're a developer, student, technologist, or entrepreneur, our innovative partnerships with local Universities, non-profit tech institutes, and startup incubators mean there's something for everyone at Tampa Devs.</p>
      </div>
    </section>
    <section aria-labelledby="our-team" class="td-about-section organizers container">
      <h2 id="our-team">Our Team</h2>
      <div class="td-about-team-wrapper">
        {% for person in people | sort(false, false, 'order') %}
          {% if person.team.indexOf("Organizers") > -1 %}
            <div class="td-about-person">
              <div class="image-container">
                <img src="/_assets/img/people/{{ person.img if person.img else "no-avatar.jpg" }}" alt="{{ person.name }}" class="person__image">
              </div>
              <h3 class="person-name">
                {% if person.href %}
                  <a href="{{ person.href.url }}" target="_blank" rel="noreferrer noopener">{{ person.name }}</a>
                {% else %}
                  {{ person.name }}
                {% endif %}
              </h3>
              <strong class="person-title">{{ person.title }}</strong>
              <p class="person-bio">{{ person.bio }}</p>
              {% if person.href %}
                <a class="btn" href={{ person.href.url }} target="_blank" rel="noreferrer noopener">View {{ person.href.type }}</a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <section class="sponsors" aria-labelledby="sponsors">
      <h2 id="sponsors" class="container">Sponsors</h2>
      <div class="td-about-sponsor__wrapper">
        <div class="marquee">
          {% for sponsor in sponsors | sort(false, false, 'name') %}
            <a href="{{sponsor.href}}" class="sponsor" target="_blank" rel=”noopener noreferrer”>
              <img src="/_assets/misc/sponsors/{{sponsor.logo}}" alt=""/>
            </a>
          {% endfor %}
        </div>
        <div class="marquee">
          {% for sponsor in sponsors | sort(false, false, 'name') %}
            <a href="{{sponsor.href}}" class="sponsor" target="_blank" >
              <img src="/_assets/misc/sponsors/{{sponsor.logo}}" alt=""/>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
    <section aria-labelledby="past-events">
      <div class="container">
        <h2 id="past-events" >Past Event Gallery</h2>
      </div>
      <div class="td-about-slider__container slider__container slider__past-events">
        {% for event in pastevents %}
          <div class="slider__cell">
            <img data-flickity-lazyload="/_assets/img/about/past-events/{{event.img}}" alt="{{event.alt_text}}"  title="{{event.title}}"/>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}
{% block scripts %}
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script>
    new Flickity('.slider__past-events', {
      cellSelector: '.slider__cell',
      lazyLoad: 3,
      autoPlay: 3000,
      cellAlign: 'center',
      groupCells: "80%",
      prevNextButtons: false,
      wrapAround: true,
      setGallarysize: true,
      fullscreen: true,
    });
  </script>
{% endblock %}
