---
layout: layouts/base.njk
nav: true
title: Onboarding
aos: false
---

{% block content %}
  <main class="container main-content td-about">
   <h1>{{onboarding.title}}</h1>
  <section class="td-about-section organizers container">
  <h3>{{onboarding.description}}</h3>
 <div class="container">
  <h3>{{onboarding.step1.title}}</h3>
  <p>{{onboarding.step1.description}}</p>
  <a href="{{onboarding.step1.href.url}}" target="_blank" rel="noreferrer noopener">{{onboarding.step1.href.type}}</a>
  </div>
  <div class="container">
  <h3>{{onboarding.step2.title}}</h3>
  <p>{{onboarding.step2.description}}</p>
  <a href="{{onboarding.step2.href.url}}" target="_blank" rel="noreferrer noopener">{{onboarding.step2.href.type}}</a>
  </div>
  <div class="container">
  <h3>{{onboarding.step3.title}}</h3>
  <p>{{onboarding.step3.description}}</p>
  <a href={{onboarding.step3.href.url}} target="_blank" rel="noreferrer noopener">{{onboarding.step3.href.type}}</a>
</div >
</section>
  <br></br>

  <section aria-labelledby="current-team" class="td-about-section organizers container">
      <h2 id="current-team">Current Team</h2>
      <div class="td-about-team-wrapper">
        {% for person in people | sort(false, false, 'order') %}
          {% if person.team.indexOf("Organizers") > -1 %}
            <div class="td-about-person">
              <div class="image-container">
                <img src="/_assets/img/people/{{ person.img if person.img else "no-avatar.jpg" }}" alt="{{ person.name }}" class="person__image">
              </div>
              <h3 class="person-name">
                {% if person.href %}
                  <a href="{{ person.href.url }}" target="_blank" rel="noreferrer noopener">{{ person.name }}</a>
                {% else %}
                  {{ person.name }}
                {% endif %}
              </h3>
              <strong class="person-title">{{ person.title }}</strong>
              <p class="person-bio">{{ person.bio }}</p>
              {% if person.href %}
                <a class="btn" href={{ person.href.url }} target="_blank" rel="noreferrer noopener">View {{ person.href.type }}</a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
     </main>
    {% endblock %}




