<footer class="td-footer">
  <div class="td-nav td-nav-footer">
    <ul>
      <li>
        <a href="https://www.tampadevs.com/about">ABOUT</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/blog">BLOG</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/talks">TALKS</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/speaker">SPEAK</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/volunteer">VOLUNTEER</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/code-of-conduct">CODE OF CONDUCT</a>
      </li>
      <li>
        <a href="https://go.tampa.dev/donate?utm_source=td_website&utm_campaign=organic">DONATE</a>
      </li>
      <li>
        <a href="https://jobs.tampadevs.com/?utm_source=td_website&utm_campaign=organic">JOBS</a>
      </li>
      <li>
        <a href="https://store.tampa.dev?utm_source=td_website&utm_campaign=organic">MERCH</a>
      </li>
      <li>
        <a href="https://news.tampa.dev?utm_source=td_website&utm_campaign=organic">NEWS</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/press">PRESS KIT</a>
      </li>
      <li>
        <a href="https://www.tampadevs.com/privacy-policy">PRIVACY POLICY</a>
      </li>
    </ul>
  </div>
  <br/>
  <div class="td-footer__social">
    <ul>
      <li><a href="https://www.github.com/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/github.png" alt="Github"/></a></li>
      <li><a href="https://www.facebook.com/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/facebook.png" alt="Facebook"/></a></li>
      <li><a href="https://www.linkedin.com/company/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/linkedin.png" alt="LinkedIn"/></a></li>
      <li><a href="https://www.instagram.com/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/instagram.svg" alt="Instagram"/></a></li>
      <li><a href="https://www.youtube.com/@tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/youtube.png" alt="YouTube"/></a></li>
      <li><a href="https://twitter.com/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/twitter.svg" alt="Twitter"/></a></li>
      <li><a href="https://www.meetup.com/tampadevs" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/meetup.svg" alt="Meetup"/></a></li>
      <li><a href="https://go.tampa.dev/slack" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/slack.svg" alt="Slack"/></a></li>
      <li><a href="mailto:hello@tampadevs.com" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/gmail.png" alt="Gmail"/></a></li>
      <li><a href="https://chat.whatsapp.com/IcKV07RiAkABm0MIUJhcIw" target="_blank" rel="noopener"><img class="social-icon" src="/_assets/misc/icons/whatsapp.svg" alt="WhatsApp"/></a></li>
    </ul>
  </div>
  <p>
    <em>A community of software developers in Tampa, Florida, seeking to grow together</em>
  </p>
  <div class="td-nav footer-source">
    <a href="https://www.github.com/tampadevs/tampadevs" target="_blank" rel="noopener">View Source</a>
  </div>
</footer>
