<nav class="td-nav">
  <div class="container">
    <div class="hamburger-menu-wrapper">
      <button class="hamburger-menu">☰</button>
    </div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/talks">Talks</a>
      </li>
      <li>
        <a href="https://go.tampa.dev/donate?utm_source=td_website&utm_campaign=organic">DONATE</a>
      </li>
      <li>
        <a href="https://jobs.tampadevs.com?utm_source=td_website&utm_campaign=organic">JOBS</a>
      </li>
      <li>
        <a href="https://store.tampa.dev?utm_source=td_website&utm_campaign=organic">MERCH</a>
      </li>
      <li>
        <a href="https://news.tampa.dev?utm_source=td_website&utm_campaign=organic">NEWS</a>
      </li>
    </ul>
    <ul class="social-icons">
      {% for key, social in basics.socials %}
        <li>
          <a href="{{ social }}" target="_blank" rel="noopener">
            <img class="social-icon" src="/_assets/misc/icons/{{ key }}.svg" alt="{{ key }}"/>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
