---
layout: layouts/base.njk
nav: true
---

{% set events = events %}
<header class="td-header">
  <div class="td-header__container">
    <div class="td-header__container__logoGroup">
      <img src="/_assets/misc/logos/tampa-devs.svg" alt="Tampa Devs" class="td-header__logo"/>
      <hgroup>
        <h1>{{ basics.name }}</h1>
        <h2>Event Archive</h2>
      </hgroup>
    </div>
  </div>
</header>
<main class="container main-content td-describer">
  {{ content | safe }}
</main>
<div class="container">
  <section class="td-event-archive">
    <ul class="td-event-archive__list">
      {% for event in events | sort(true, false, 'date') %}
        <li class="td-event-archive__list__item">
          <div class="td-event-archive__name">{{ event.name }}</div>
          <div class="td-event-archive__detail">{{ event.city }}</div>
          <div class="td-event-archive__detail">{{ event.date | readableDate }}</div>
          <div class="td-event-archive__detail">{{ event.description }}</div>
        </li>
      {% endfor %}
    </ul>
    <p>Want to get invovled?
      <a href="https://www.twitter.com/kcodeuk/" target="_blank">Let us know</a>.</p>
  </section>
</div>