---
layout: layouts/home.njk
nav: true
---

<section
  id="meetup"
  data-aos="fade-left"
  class="promo"
  style="background-image: url('/_assets/img/happy_people2.webp');">
  <div
    class="promo__content">
    <h2 class="promo__content__title">Tampa Devs on Meetup</h2>
    <p class="mb--0">
      <strong>Stay in the loop.</strong>
    </p>
    <p class="mb--10 mt--0">See upcoming events on our free Meetup.com group.</p>
    <p>
      <a
        id="cta-button-join-meetup"
        class="promo__content__button"
        href="https://www.meetup.com/tampadevs/?action=join"
        target="_blank"
        rel="noopener">
        <img src="/_assets/misc/icons/meetup.svg" alt="Meetup"/>&nbsp;&nbsp;Subscribe to events
      </a>
    </p>
  </div>
</section>
<section id="td-talent" data-aos="fade-right" class="mt--15 promo aos-init aos-animate" style="background-image: url('/_assets/img/tadhack-group.jpg');">
    <div class="promo__content">
        <h2 class="promo__content__title">Tampa Devs Talent</h2>
        <p class="mb--0">
            <strong>Finding work just got easy.</strong>
        </p>
        <p class="mb--10 mt--0">Join the reverse job board for Tampa Bay's Developer Community. Our nonprofit platform empowers developers and supports social good.</p>
        <p>
            <a id="cta-button-join-tdt-developer" class="promo__content__button" href="https://talent.tampa.dev/role/new?utm_source=td_website&utm_medium=organic" target="_blank" rel="noopener">Add Your Free Profile</a>
            <a id="cta-button-join-tdt-business" class="promo__content__button" href="https://talent.tampa.dev/developers?utm_source=td_website&utm_medium=organic" target="_blank" rel="noopener">Discover Awesome Developers</a>
        </p>
    </div>
</section>
<section
  id="slack"
  data-aos="fade-left"
  class="mt--15 promo"
  style="background-image: url('/_assets/img/slack-background2.webp');">
  <div
    class="promo__content">
    <h2 class="promo__content__title">Tampa Devs Slack</h2>
    <p class="mb--0">
      <strong>Join our Slack.</strong>
    </p>
    <p class="mb--10 mt--0">It's the best place to learn, collaborate, and keep in touch with your fellow developers.</p>
    <p>
      <a
        id="cta-button-join-slack"
        class="promo__content__button"
        href="https://go.tampa.dev/slack"
        target="_blank"
        rel="noopener">
        <img src="/_assets/misc/icons/slack.svg" alt="Slack"/>&nbsp;&nbsp;Join Chat
      </a>
    </p>
  </div>
</section>
<section
  id="store"
  data-aos="fade-right"
  class="mt--15 promo"
  style="background-image: url('/_assets/img/custom_cap_1.webp');">
  <div
    class="promo__content">
    <h2 class="promo__content__title">Tampa Devs Store</h2>
    <p class="mb--0">
      <strong>Support Tampa Devs.</strong>
    </p>
    <p class="mb--10 mt--0">Buy t-shirts, hats, bandanas and more.</p>
    <p>
      <a
        id="cta-button-shop-merch"
        class="promo__content__button"
        href="https://store.tampa.dev/?utm_source=td_website&utm_medium=organic"
        target="_blank"
        rel="noopener">
        Shop Merch
      </a>
    </p>
  </div>
</section>