@use "../variables";
@use "../utilities";
.td-about {
  h2 {
    font-size: 30px;
  }
  .btn {
    font: 400 1rem/1.1 "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    border: solid variables.$colorGreen 2px;
    border-radius: 5px;
    background: transparent;
    color: variables.$colorGreen;
    transition: transform 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    &:hover {
      border: solid darken(variables.$colorGreen, 5%) 2px;
      background: darken(variables.$colorGreen, 5%);
      color: #fafafa;
    }
  }
  &-header {
    @extend .td-about;
    display: flex;
    position: relative;
    justify-content: right;
    margin-bottom: 1rem;
    &-img-wrapper {
      width: 100vw;
      height: 70vh;
      max-height: 550px;
      overflow: hidden;
      img {
        width: 200%;
      }
    }
    &-txt-overlay {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #fff;
      position: absolute;
      left: -1rem;
      right: 1rem;
      top: 1rem;
      h1, p {
        background-color: rgba(#3C5088, 0.70);
        width: fit-content;
        padding: 0.28125em 0.875em;
      }
    }
    h1 {
      font-size: 2.125rem;
      margin-bottom: 2rem;
      font-weight: 800;
      color: #fafafa;
    }
    p {
      width: 96%;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25;
      padding: 1em;
    }
  }
  &-team-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    @include utilities.bpMinXSmall {
      grid-template-columns: repeat(2, 1fr);
    }
    @include utilities.bpMinLarge {
      grid-template-columns: repeat(3, 1fr);
    }
    grid-column-gap: 0;
    grid-row-gap: 3.25rem;
    margin: 1rem 0 3rem;
  }
  &-section {
    display: flex;
    flex-wrap: wrap;
    transition: 150ms ease-in-out;
    .td-about-person {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      border: transparent;
      border-radius: 8px;
      padding: 1.5rem;
      z-index: 0;
      transition: 200ms;
      .btn {
        margin-block-start: 1rem;
        @include utilities.bpMinMedium {
          @media (hover: hover) {
            z-index: -1;
            transform: translateY(-60px);
            opacity: 0;
            height: 0;
          }
        }
      }
      &:hover {
        background: #fcfcfc;
        height: fit-content;
        border: solid darken(#fcfcfc, 5%);
        box-shadow: 0 0 15px -15px #83838326, 0 0 10px 0px #1313131a;
        transform: translateY(-5%) scale(1.05);
        z-index: 10;
        .person-bio, .btn {
          height: initial;
          transform: translateY(0);
          opacity: 1;
          z-index: 1;
        }
      }
      text-align: center;
      .person {
        &-name, {
          margin-bottom: 8px;
          color: variables.$colorBlue;
          border: none;
          a {
            @extend .person-name;
          }
        }
        &-title {
          font: 700 0.8rem/1.5 "Montserrat", Helvetica, Arial, Lucida, sans-serif;
          color: variables.$colorOrange;
        }
        &-bio {
          margin: 0px;
          color: black;
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;
          flex-direction: row;
          font: 400 0.8rem/1.5 "Montserrat", Helvetica, Arial, Lucida, sans-serif;
          @include utilities.bpMinMedium {
            @media (hover: hover) {
              height: 0;
              z-index: -1;
              transform: translateY(-30px);
              opacity: 0;
              transition: transform 200ms ease-in-out;
            }
          }
        }
        &__image {
          border-radius: 50%;
        }
      }
      .image-container {
        height: 150px;
        width: 150px;
        position: relative;
        overflow: hidden;
        img {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
  //Sponsors
  .sponsors {
    overflow: hidden;
    background-color: #B3BBD1;
    padding: 3rem;
    h2 {
      color: #000;
    }
  }
  &-sponsor__wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .marquee {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      animation: marquee 25s linear infinite;
    }
    &:hover .marquee{
      animation-play-state: paused;
    }
    a {
      border: none;
      padding: 1rem;
    }
    img {
      width: auto;
      height: 100px;
    }
  }
  // Members only specific section
  //&-members {
  //  padding-top: 25px;
  //  display: flex;
  //  flex-wrap: wrap;
  //  img {
  //    width: 100px;
  //    height: 100px;
  //    object-fit:cover;
  //  }
  //  .member-pic {
  //    margin-right: 15px;
  //    position: relative;
  //    height: 100px;
  //    width: 100px;
  //    transition: background-color 1s ease;
  //    cursor: pointer;
  //    img {
  //      border-radius:50%;
  //      border: 3px solid black;
  //    }
  //    &:hover {
  //      background-color: black;
  //      display: flex;
  //      align-content: center;
  //      justify-content: center;
  //      text-align: center;
  //      vertical-align: middle;
  //      // .person-name {
  //      //   display: inline;
  //      // }
  //      .text-overlay {
  //        min-height: 100px;
  //        min-width: 100px;
  //        max-height: 100px;
  //        max-width: 100px;
  //        width: 100px;
  //        height: 100px;
  //        display: flex;
  //        border-radius: 50%;
  //        justify-content: center;
  //        align-items: center;
  //        transition: background-color 0.5s ease;
  //        background-color: black;
  //        color: white;
  //        height: auto; opacity: 1;
  //        transition: height 0ms 0ms, opacity 600ms 0ms;
  //      }
  //      // img {
  //      //   display: none;
  //      //   transition: background-color 1s ease;
  //      // }
  //    }
  //    .text-overlay {
  //      height: 0;
  //      opacity: 0;
  //      transition: height 0ms 400ms, opacity 400ms 0ms;
  //      z-index: 5;
  //      position: absolute;
  //      transition: background-color 0.5s ease;
  //      background-color: transparent;
  //    }
  //    // .person-name {
  //    //   display: none;
  //    //   color: white;
  //    // }
  //  }
  //  margin-bottom: 200px;
  //}
  //Speaker stuff
  &-speakers {
    padding-top: 25px;
    .member-pic {
      display: flex;
      img {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 30px;
      }
      .talk-title {
        color: black;
      }
      .talk-date {
        color: black
      }
    }
  
  }
  //Event Slider
  &-slider{
    &__container {
      height: 500px;
      width: 100%;
      overflow: hidden;
      
      .slider__cell {
        height: 100%;
        transition: background-color 500ms ease-in-out;
        &:not(.is-selected) {
          background-color: rgba(black, 1.0);
          img {
            transition: opacity 500ms ease-in-out;
            opacity: 0.5;
          }
        }
        img {
          transition: 200ms ease;
          height: 100%;
        }
      }
    }
    &__navigation {
       position: absolute;
       bottom: 0;
       padding: 1rem;
       margin: 0;
       height: 3.5rem;
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: flex-end;
       background-image: linear-gradient(180deg, rgba(#000, 0) 0%, rgba(#000, 0.65) 90%);
       &-item {
         background-color: transparent;
         border: #7883A2 3px solid;
         border-radius: 100%;
         height: 1.2rem;
         width: 1.2rem;
         margin: 0 3%;
         list-style: none;
         cursor: pointer;
         transition: 200ms ease-in-out;
         font-size: 0;
         padding: 0;
         opacity: 1;
         &:hover, &:focus {
           height: 1.5rem;
           width: 1.5rem;
           border: #7883A2 5px solid;
         }
         &.is-selected {
           background: #7883A2;
           height: 1.5rem;
           width: 1.5rem;
         }
       }
     }
  }
  + .td-newsletter {
    margin: 0
  }
  @include utilities.bpMinXSmall() {
    &-header {
      &-txt-overlay {
        top: initial;
        right: initial;
        left: 4.75rem;
        bottom: -1rem;
        align-items: flex-start;
      }
      p {
        width: 86%;
        font-size: 1.125rem;
        line-height: 1.5;
        padding: 1.125rem 1.4375rem;
      }
      &-img-wrapper {
        width: 66vw;
        height: 50vh;
        img {
          width: 150%;
        }
      }
    }
  }
  @include utilities.bpMinSmall() {
    &-header {
      display: flex;
      position: relative;
      justify-content: right;
      margin-bottom: 7rem;
      &-img-wrapper {
        width: 75vw;
        height: 70vh;
        img {
          width: 100%;
        }
      }
      &-txt-overlay {
        left: 4.75rem;
        bottom: -4.875rem;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 4rem;
      }
      p {
        width: 62%;
        font-size: 1.125rem;
        line-height: 1.5;
        padding: 1.5rem 2.25rem;
      }
    }
  }
  @include utilities.bpMinMedium() {
    &-header {
      display: flex;
      position: relative;
      justify-content: right;
      margin-bottom: 7rem;
      &-img-wrapper {
        width: 66vw;
        height: 70vh;
      }
      &-txt-overlay {
        left: 4.75rem;
        bottom: -4.875rem;
      }
      h1 {
        font-size: 4rem;
        margin-bottom: 5rem;
      }
      p {
        width: 62%;
        font-size: 1.125rem;
        line-height: 1.5;
        padding: 2.25rem 2.75rem
      }
    }
  }
  @include utilities.bpMinLarge() {
    &-header {
      &-img-wrapper {
        width: 80vw;
        height: 70vh;
      }
    }
  }
}
.flickity-page-dots {
  @extend .td-about-slider__navigation;

  .dot {
    @extend .td-about-slider__navigation-item;
  }
}
